.login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

.input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: tomato;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

    .btn-login:hover {
        background-color: darkred;
    }

.status-label {
    display: block;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
}
